#locate-an-r-user-group {
  width: 90% !important;
}

table.dataTable {
  width: 100% !important;
}

.flex-control {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 1400px) {
  .col-xs-4 > .html-widget-static-bound {
    width: 35em !important;
    padding: 1em !important;
  }
}

#twitter > .chart-stage {
  overflow-y: scroll;
}

#rugs-map {
  background: none;
}

.image-container {
	position: relative !important;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
}